<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
		<meta content="en" http-equiv="content-language" />
		<link type="text/css" href="/glue-orm/style/base.css" rel="stylesheet" />
	</head>
	<body>
		<div id="header_wrapper">
			<a href="http://github.com/rlm80/glue-orm" id="fork">Fork me on Github !</a>
			<div id="header">
				<ul id="menu">
					<li><span class="note">What's Glue ?</span><a href="/glue-orm/index.html">Home</a></li>
					<li><span class="amp">~</span></li>
					<li><span class="note">Get started quickly !</span><a href="/glue-orm/tutorial/entities_and_relationships.html">Tutorial</a></li>
					<li><span class="amp">~</span></li>
					<li><span class="note">Want to know more ?</span><a href="/glue-orm/documentation.html">Documentation</a></li>
					<li><span class="amp">&amp;</span></li>
					<li><span class="note">Latest updates.</span><a href="/glue-orm/blog.html">Blog</a></li>
				</ul>
				<p id="brand"><span>Glue - ORM</span></p>
				<p id="description"><span>A Datamapper based ORM library for the Kohana PHP framework v3.</span></p>
			</div>
		</div>
		<div id="content_wrapper">
			<div id="content">
				{{ content }}
				<p class="copyright">&copy; copyright Régis Lemaigre 2010</p>
			</div>
		</div>
	</body>
</html>